n8n-workflows/claude-digest-generator.json
{
  "name": "Claude Digest Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "465b6a1e-d42e-449a-8e40-0d64f73f428a",
      "name": "Daily 8 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1136,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    url, title, content_snippet, source_name, category, pub_date,\n    metadata->>'author' as author,\n    metadata->>'comments_count' as engagement\nFROM feed_articles\nWHERE 'claude' = ANY(topic)\n  AND pub_date >= NOW() - INTERVAL '24 hours'\n  AND (last_digest_date IS NULL OR last_digest_date < CURRENT_DATE)\nORDER BY pub_date DESC\nLIMIT 30;",
        "options": {}
      },
      "id": "db9aa3b2-6135-49ae-852a-8d6229c573d2",
      "name": "Query Claude Articles",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -896,
        -80
      ],
      "credentials": {
        "postgres": {
          "id": "CnXWIqjqRo8CfL2F",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-results",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f91b16cd-d803-491b-af7c-68bfd42c3000",
      "name": "Has Articles?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -688,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Combine all items into a single text for the LLM\nconst items = $input.all();\n\nif (!items || items.length === 0) {\n  return [{\n    json: {\n      posts: 'No new articles found for today.',\n      date: new Date().toISOString().split('T')[0],\n      itemCount: 0,\n      urls: []\n    }\n  }];\n}\n\nconst postsText = items.map((item, index) => {\n  const json = item.json;\n  return `### Post ${index + 1}\n**Title:** ${json.title}\n**Source:** ${json.source_name} (${json.category})\n**Date:** ${json.pub_date}\n**Link:** ${json.url}\n**Content Preview:** ${json.content_snippet || 'No content'}\n`;\n}).join('\\n---\\n');\n\n// Collect URLs for marking as processed later\nconst urls = items.map(item => item.json.url);\n\nreturn [{\n  json: {\n    posts: postsText,\n    date: new Date().toISOString().split('T')[0],\n    itemCount: items.length,\n    urls: urls\n  }\n}];"
      },
      "id": "8dc395e5-de88-4d89-817f-5e8cc6b69d56",
      "name": "Prepare for LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        -160
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {
          "maxTokensToSample": 4096
        }
      },
      "id": "5b0e5d96-4561-4121-9b65-a3f7c6a762f7",
      "name": "Claude Haiku",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -272,
        64
      ],
      "credentials": {
        "anthropicApi": {
          "id": "FXEdoYejC4N4k4zE",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a friendly tech podcast host delivering the morning Claude and Anthropic news briefing. Your audience is listening to this while commuting or having their morning coffee.\n\nSpeak naturally and conversationally, as if you're talking directly to the listener. Avoid bullet points, markdown formatting, or anything that sounds robotic when read aloud. Use transitions like \"Speaking of which...\", \"Now here's something interesting...\", \"Moving on to...\", \"And you'll want to hear this one...\".\n\n## Today's Articles ({{ $json.itemCount }} items):\n{{ $json.posts }}\n\n## Your Task:\nCreate a 5-8 minute podcast script covering today's Claude AI and Anthropic news. Structure it like this:\n\n1. **Opening** (30 seconds): Greet the listener warmly, mention the date, and give a quick teaser of the most exciting Claude or Anthropic story.\n\n2. **Main Stories** (3-4 minutes): Cover the most significant announcements, new features, or updates about Claude, Claude Code, or Anthropic. Explain why each matters and how it might help the listener. Add your perspective and connect related stories.\n\n3. **Community Buzz** (2-3 minutes): Share what people are talking about - interesting Reddit discussions, tips that are getting traction, debates about Claude's capabilities. Make it feel like you're sharing insider knowledge from the Claude community.\n\n4. **Tips & Tricks** (1-2 minutes): Share practical advice people have discovered - prompting techniques, workflow improvements, or creative uses of Claude.\n\n5. **Closing** (30 seconds): Wrap up with a thought for the day or something to try with Claude. Wish them a good day.\n\nIMPORTANT STYLE GUIDELINES:\n- Write exactly as you would speak - use contractions, casual phrasing\n- Explain technical terms briefly when first mentioned\n- Add personality - it's okay to express opinions, make light jokes, or show enthusiasm about Claude features\n- Use phrases like \"you might want to try this\", \"I found this really clever\", \"here's the thing though\"\n- Mention source names naturally: \"Over on the ClaudeAI subreddit, someone discovered...\" or \"A developer on Hacker News shared...\"\n- NO markdown formatting, NO bullet points, NO headers - just flowing conversational text\n- Include natural pauses with phrases like \"So...\" or \"Now...\"\n- Aim for around 1000-1200 words for good podcast length",
        "options": {}
      },
      "id": "014accf5-b700-4f7b-8938-1c0e2d065910",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -272,
        -160
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "claude-daily-digest",
        "contextWindowLength": 10
      },
      "id": "407233d2-810c-412a-ba8b-b47df82b2087",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -144,
        64
      ]
    },
    {
      "parameters": {},
      "id": "83cee93c-dd18-4124-8a5b-50e3b5fc986c",
      "name": "No New Articles",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -480,
        0
      ]
    },
    {
      "parameters": {
        "fromEmail": "digest@arigsela.com",
        "toEmail": "user-7b646405-60f8-4029-9ebd-3731b48d9a80@email.audioread.com",
        "subject": "=Claude Daily Digest - {{ $('Prepare for LLM').item.json.date }}",
        "emailFormat": "text",
        "text": "={{ $json.output }}",
        "options": {}
      },
      "id": "5bf090b6-df33-4268-abb8-fc4711ab32b7",
      "name": "Send to Audioread",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        176,
        -160
      ],
      "webhookId": "69e6238e-999b-490d-97e2-a5d6a6f95dbe",
      "credentials": {
        "smtp": {
          "id": "CWrA7iYBp2VUAnmo",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily 8 AM": {
      "main": [
        [
          {
            "node": "Query Claude Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Claude Articles": {
      "main": [
        [
          {
            "node": "Has Articles?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Articles?": {
      "main": [
        [
          {
            "node": "Prepare for LLM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No New Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for LLM": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Haiku": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send to Audioread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Audioread": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "8eb68e1b-6b2a-45f1-8d44-8d2e06999829",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1ac1edd945dd6547c06503f16d68924976acb661550d12289650d4bae82f1e28"
  },
  "id": "1sT9dAzujII3DkCATo7Eb",
  "tags": []
}