n8n-workflows/devops-digest-generator.json
{
  "name": "DevOps Daily Dispatch",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "b6853ead-2ffe-4237-a891-01361bc883e3",
      "name": "Daily 8 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1040,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    url, title, content_snippet, source_name, category, pub_date,\n    metadata->>'author' as author,\n    metadata->>'comments_count' as engagement\nFROM feed_articles\nWHERE 'devops' = ANY(topic)\n  AND pub_date >= NOW() - INTERVAL '24 hours'\n  AND (last_digest_date IS NULL OR last_digest_date < CURRENT_DATE)\nORDER BY pub_date DESC\nLIMIT 30;",
        "options": {}
      },
      "id": "a466dce8-ea8d-4876-b3a4-dc1f290e8ba2",
      "name": "Query DevOps Articles",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -816,
        -16
      ],
      "credentials": {
        "postgres": {
          "id": "GCohHH3qGUDCi7xo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-results",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3d2b595f-b345-4619-af49-56c390472670",
      "name": "Has Articles?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -592,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "// Combine all items into a single text for the LLM, grouped by category\nconst items = $input.all();\n\nif (!items || items.length === 0) {\n  return [{\n    json: {\n      posts: 'No new articles found for today.',\n      date: new Date().toISOString().split('T')[0],\n      itemCount: 0,\n      urls: []\n    }\n  }];\n}\n\n// Group by category\nconst byCategory = { official: [], blog: [], community: [] };\nitems.forEach(item => {\n  const cat = (item.json.category || 'blog').toLowerCase();\n  if (byCategory[cat]) byCategory[cat].push(item.json);\n  else byCategory.blog.push(item.json);\n});\n\nlet postsText = '';\n\nconst categoryNames = {\n  official: 'Official Sources',\n  blog: 'Blog Posts',\n  community: 'Community Discussions'\n};\n\nfor (const [category, posts] of Object.entries(byCategory)) {\n  if (posts.length === 0) continue;\n  postsText += `\\n## ${categoryNames[category]}\\n`;\n  posts.forEach((post) => {\n    postsText += `### ${post.title}\\n`;\n    postsText += `**Source:** ${post.source_name} | **Date:** ${post.pub_date}\\n`;\n    postsText += `**Link:** ${post.url}\\n`;\n    postsText += `**Preview:** ${post.content_snippet || 'No content'}\\n\\n`;\n  });\n}\n\n// Collect URLs for marking as processed later\nconst urls = items.map(item => item.json.url);\n\nreturn [{\n  json: {\n    posts: postsText,\n    date: new Date().toISOString().split('T')[0],\n    itemCount: items.length,\n    urls: urls\n  }\n}];"
      },
      "id": "f7cc9ed3-77d7-4ad4-878e-a3bb2324764b",
      "name": "Prepare for LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        -112
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-6",
          "mode": "list",
          "cachedResultName": "Claude Opus 4.6"
        },
        "options": {
          "maxTokensToSample": 16384
        }
      },
      "id": "bc84573d-147e-4d12-b553-d4c905624fce",
      "name": "Claude Haiku",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -136,
        112
      ],
      "credentials": {
        "anthropicApi": {
          "id": "xQWTf0PXZe20RDYY",
          "name": "asela_anthropic"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are the host of \"The Daily Dispatch\", a daily DevOps briefing delivered as a spoken-word summary for engineering professionals. Your tone is calm, authoritative, and direct.\n\n## Your Style\n- Speak in a measured, professional tone. No jokes, no humor, no coffee references, no pop culture.\n- Be conversational enough to sound natural when read aloud, but always substantive and focused.\n- Your audience is senior engineers and technical leaders. Respect their time and intelligence.\n- Provide clear analysis and practical context for each story. Explain why it matters and what teams should consider.\n- Use smooth, natural transitions between topics as a professional broadcaster would.\n- Keep paragraphs short and sentences clear. This will be listened to, not read on a screen.\n\n## Spoken-Word Rules\n- Never use emoji, bullet points, numbered lists, or markdown formatting of any kind.\n- Do not use asterisks, hash symbols, brackets, or any special characters meant for visual formatting.\n- Write entirely in flowing prose and natural paragraphs.\n- Spell out abbreviations on first use when they might be unclear when heard rather than read.\n- Avoid saying things like \"link in the description\" since this is an audio format. Instead, mention the source name naturally.\n\n## Show Structure\nOpen with a brief greeting and the date, then state how many stories you are covering.\n\nCover the top two or three stories in depth. For each one, explain what happened, who is involved, why it matters to DevOps and platform engineering teams, and what the practical implications are. Mention the source naturally within your commentary.\n\nAfter the main stories, pick one topic and go deeper. Provide additional context, connect it to broader industry trends, and share a grounded perspective on where things are headed.\n\nThen give a brief rundown of the remaining items, spending one or two sentences on each.\n\nClose with a concise summary of the key themes from the day and a forward-looking thought on what to watch for next.\n\n## Length and Pacing\n- Target 1200 to 1600 words, which is roughly eight to ten minutes of listening time.\n- Prioritize depth and clarity over speed. It is better to cover fewer stories well than to rush through everything.\n\nYou have memory of your previous broadcasts. Use it to avoid repeating stories and to reference ongoing developments when relevant.\n\n## Today's Feed ({{ $json.itemCount }} articles):\n{{ $json.posts }}\n\nBegin the broadcast.",
        "options": {}
      },
      "id": "c60333fd-a214-4f86-a05d-2976ac820c9f",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -144,
        -112
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "devops-daily-dispatch",
        "contextWindowLength": 10
      },
      "id": "d91c42c1-9ac2-45bd-8457-0e6689ff4597",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -8,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst text = item.json.output || item.json.text || '';\nconst date = $('Prepare for LLM').first().json.date;\nconst urls = $('Prepare for LLM').first().json.urls || [];\n\n// Clean up the output for plain text audio delivery\nlet plainText = text\n  // Remove any stray markdown formatting\n  .replace(/^#{1,3}\\s*/gm, '')\n  .replace(/\\*\\*(.+?)\\*\\*/g, '$1')\n  .replace(/\\*(.+?)\\*/g, '$1')\n  .replace(/\\[(.+?)\\]\\((.+?)\\)/g, '$1')\n  // Remove bullet points and list markers\n  .replace(/^\\s*[-*•]\\s+/gm, '')\n  .replace(/^\\s*\\d+\\.\\s+/gm, '')\n  // Remove emoji (unicode emoji ranges)\n  .replace(/[\\u{1F600}-\\u{1F64F}\\u{1F300}-\\u{1F5FF}\\u{1F680}-\\u{1F6FF}\\u{1F1E0}-\\u{1F1FF}\\u{2600}-\\u{26FF}\\u{2700}-\\u{27BF}\\u{FE00}-\\u{FE0F}\\u{1F900}-\\u{1F9FF}\\u{200D}\\u{20E3}\\u{E0020}-\\u{E007F}]/gu, '')\n  // Clean up extra whitespace\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\nreturn [{ json: { plainText, date, urls, subject: 'The Daily Dispatch - ' + date } }];"
      },
      "id": "62d0d20a-567e-45f3-9c71-f1571eac0675",
      "name": "Format Email HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -112
      ]
    },
    {
      "parameters": {
        "fromEmail": "arigsela@gmail.com",
        "toEmail": "user-7b646405-60f8-4029-9ebd-3731b48d9a80@email.audioread.com",
        "subject": "={{ $json.subject }}",
        "emailFormat": "text",
        "text": "={{ $json.plainText }}",
        "options": {"appendAttribution": false}
      },
      "id": "4feb0f36-3120-4821-a647-af1e2a5899d2",
      "name": "Send Digest Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        432,
        -112
      ],
      "webhookId": "5f287adf-ac64-4334-b565-f64e0a905713",
      "credentials": {
        "smtp": {
          "id": "DtjHnOSdz1h7Xpuw",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ 'UPDATE feed_articles SET last_digest_date = CURRENT_DATE, is_processed = true WHERE url = ANY(ARRAY[' + $('Prepare for LLM').first().json.urls.map(u => \"'\" + u.replace(/'/g, \"''\") + \"'\").join(',') + ']);' }}",
        "options": {}
      },
      "id": "879fe629-c932-4307-a490-35e9a67ab0d2",
      "name": "Mark as Processed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        736,
        -112
      ],
      "credentials": {
        "postgres": {
          "id": "GCohHH3qGUDCi7xo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "id": "cdc539bb-bbc9-4cfa-82a5-5b339a2565e6",
      "name": "No New Articles",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -368,
        80
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Daily 8 AM": {
      "main": [
        [
          {
            "node": "Query DevOps Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query DevOps Articles": {
      "main": [
        [
          {
            "node": "Has Articles?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Articles?": {
      "main": [
        [
          {
            "node": "Prepare for LLM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No New Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for LLM": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Haiku": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email HTML": {
      "main": [
        [
          {
            "node": "Send Digest Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Digest Email": {
      "main": [
        [
          {
            "node": "Mark as Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0d546723-9c53-4613-bcdc-cb31fa28c542",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1ac1edd945dd6547c06503f16d68924976acb661550d12289650d4bae82f1e28"
  },
  "id": "Ye8YOBg_y9ajCody55Kii",
  "tags": []
}