n8n-workflows/devops-digest-generator.json
{
  "name": "DevOps Daily Dispatch",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "b6853ead-2ffe-4237-a891-01361bc883e3",
      "name": "Daily 8 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1040,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    url, title, content_snippet, source_name, category, pub_date,\n    metadata->>'author' as author,\n    metadata->>'comments_count' as engagement\nFROM feed_articles\nWHERE 'devops' = ANY(topic)\n  AND pub_date >= NOW() - INTERVAL '24 hours'\n  AND (last_digest_date IS NULL OR last_digest_date < CURRENT_DATE)\nORDER BY pub_date DESC\nLIMIT 30;",
        "options": {}
      },
      "id": "a466dce8-ea8d-4876-b3a4-dc1f290e8ba2",
      "name": "Query DevOps Articles",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -816,
        -16
      ],
      "credentials": {
        "postgres": {
          "id": "GCohHH3qGUDCi7xo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-results",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3d2b595f-b345-4619-af49-56c390472670",
      "name": "Has Articles?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -592,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "// Combine all items into a single text for the LLM, grouped by category\nconst items = $input.all();\n\nif (!items || items.length === 0) {\n  return [{\n    json: {\n      posts: 'No new articles found for today.',\n      date: new Date().toISOString().split('T')[0],\n      itemCount: 0,\n      urls: []\n    }\n  }];\n}\n\n// Group by category\nconst byCategory = { official: [], blog: [], community: [] };\nitems.forEach(item => {\n  const cat = (item.json.category || 'blog').toLowerCase();\n  if (byCategory[cat]) byCategory[cat].push(item.json);\n  else byCategory.blog.push(item.json);\n});\n\nlet postsText = '';\n\nconst categoryNames = {\n  official: 'Official Sources',\n  blog: 'Blog Posts',\n  community: 'Community Discussions'\n};\n\nfor (const [category, posts] of Object.entries(byCategory)) {\n  if (posts.length === 0) continue;\n  postsText += `\\n## ${categoryNames[category]}\\n`;\n  posts.forEach((post) => {\n    postsText += `### ${post.title}\\n`;\n    postsText += `**Source:** ${post.source_name} | **Date:** ${post.pub_date}\\n`;\n    postsText += `**Link:** ${post.url}\\n`;\n    postsText += `**Preview:** ${post.content_snippet || 'No content'}\\n\\n`;\n  });\n}\n\n// Collect URLs for marking as processed later\nconst urls = items.map(item => item.json.url);\n\nreturn [{\n  json: {\n    posts: postsText,\n    date: new Date().toISOString().split('T')[0],\n    itemCount: items.length,\n    urls: urls\n  }\n}];"
      },
      "id": "f7cc9ed3-77d7-4ad4-878e-a3bb2324764b",
      "name": "Prepare for LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        -112
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {
          "maxTokensToSample": 8192
        }
      },
      "id": "bc84573d-147e-4d12-b553-d4c905624fce",
      "name": "Claude Haiku",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -136,
        112
      ],
      "credentials": {
        "anthropicApi": {
          "id": "xQWTf0PXZe20RDYY",
          "name": "asela_anthropic"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are \"DevOps Dave\" — a witty, slightly over-caffeinated DevOps engineer who hosts a daily morning news show called \"The Daily Dispatch\" for fellow engineers.\n\n## Your Personality\n- Talk like you're actually speaking to someone over coffee — conversational, natural, with real personality\n- Use humor freely: dad jokes, pop culture references, sarcastic asides, and funny analogies\n- Be genuinely informative — your audience is technical, so don't dumb things down\n- Show excitement about cool releases, healthy skepticism about hype, and empathy about pain points\n- Reference common DevOps struggles for relatability (\"We've all been there at 2 AM staring at CrashLoopBackOff...\")\n- Use smooth transitions between topics like a real broadcaster\n- Keep paragraphs short — this should read like spoken word, not documentation\n\n## Show Structure\n1. **Opening** — A funny greeting, the date, and a quick one-liner to set the mood\n2. **Top Stories** (2-3 items) — The biggest news with your commentary, opinions, and why it matters\n3. **The Deep Dive** — Pick ONE story and go deeper: practical takeaways, what it means for the industry, your hot take\n4. **Lightning Round** — Rapid-fire 1-2 sentence mentions of the remaining items\n5. **Dave's Sign-Off** — A memorable closing line, a \"DevOps tip of the day\", and a teaser for tomorrow\n\n## Rules\n- Target 800-1100 words (5-8 minutes reading time)\n- For each story, naturally mention the source name and include the URL as a markdown link\n- Use markdown formatting: headers, bold, italic, links\n- Write in a way that makes someone actually look forward to reading this every morning\n- If you have memory of previous broadcasts, make callbacks (\"Remember that Kubernetes CVE from Tuesday? Plot twist...\")\n\nYou have memory of your previous broadcasts. Use it to avoid repetition and reference ongoing storylines.\n\n## Today's Feed ({{ $json.itemCount }} articles):\n{{ $json.posts }}\n\nNow go live, Dave!",
        "options": {}
      },
      "id": "c60333fd-a214-4f86-a05d-2976ac820c9f",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -144,
        -112
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "devops-daily-dispatch",
        "contextWindowLength": 10
      },
      "id": "d91c42c1-9ac2-45bd-8457-0e6689ff4597",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -8,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst text = item.json.output || item.json.text || '';\nconst date = $('Prepare for LLM').first().json.date;\nconst urls = $('Prepare for LLM').first().json.urls || [];\n\n// Strip markdown formatting for clean plain text that audioread can parse\nlet plainText = text\n  // Remove markdown headers but keep the text\n  .replace(/^#{1,3}\\s*/gm, '')\n  // Remove bold/italic markers\n  .replace(/\\*\\*(.+?)\\*\\*/g, '$1')\n  .replace(/\\*(.+?)\\*/g, '$1')\n  // Convert markdown links to just the text\n  .replace(/\\[(.+?)\\]\\((.+?)\\)/g, '$1')\n  // Clean up extra whitespace\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\nreturn [{ json: { plainText, date, urls, subject: 'The Daily Dispatch - ' + date } }];"
      },
      "id": "62d0d20a-567e-45f3-9c71-f1571eac0675",
      "name": "Format Email HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -112
      ]
    },
    {
      "parameters": {
        "fromEmail": "arigsela@gmail.com",
        "toEmail": "user-7b646405-60f8-4029-9ebd-3731b48d9a80@email.audioread.com",
        "subject": "={{ $json.subject }}",
        "emailFormat": "text",
        "text": "={{ $json.plainText }}",
        "options": {"appendAttribution": false}
      },
      "id": "4feb0f36-3120-4821-a647-af1e2a5899d2",
      "name": "Send Digest Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        432,
        -112
      ],
      "webhookId": "5f287adf-ac64-4334-b565-f64e0a905713",
      "credentials": {
        "smtp": {
          "id": "DtjHnOSdz1h7Xpuw",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ 'UPDATE feed_articles SET last_digest_date = CURRENT_DATE, is_processed = true WHERE url = ANY(ARRAY[' + $('Prepare for LLM').first().json.urls.map(u => \"'\" + u.replace(/'/g, \"''\") + \"'\").join(',') + ']);' }}",
        "options": {}
      },
      "id": "879fe629-c932-4307-a490-35e9a67ab0d2",
      "name": "Mark as Processed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        736,
        -112
      ],
      "credentials": {
        "postgres": {
          "id": "GCohHH3qGUDCi7xo",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "id": "cdc539bb-bbc9-4cfa-82a5-5b339a2565e6",
      "name": "No New Articles",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -368,
        80
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Daily 8 AM": {
      "main": [
        [
          {
            "node": "Query DevOps Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query DevOps Articles": {
      "main": [
        [
          {
            "node": "Has Articles?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Articles?": {
      "main": [
        [
          {
            "node": "Prepare for LLM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No New Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for LLM": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Haiku": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email HTML": {
      "main": [
        [
          {
            "node": "Send Digest Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Digest Email": {
      "main": [
        [
          {
            "node": "Mark as Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0d546723-9c53-4613-bcdc-cb31fa28c542",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1ac1edd945dd6547c06503f16d68924976acb661550d12289650d4bae82f1e28"
  },
  "id": "Ye8YOBg_y9ajCody55Kii",
  "tags": []
}