n8n-workflows/feed-data-ingestion.json
{
  "name": "Feed Data Ingestion",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */4 * * *"
            }
          ]
        }
      },
      "id": "1e1b0f48-9a88-4312-b3e7-680c6909f527",
      "name": "Every 4 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-448, 544]
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/ClaudeAI/.rss",
        "options": {}
      },
      "id": "397df817-5817-4ee8-a6aa-13cc2c08d665",
      "name": "RSS r/ClaudeAI",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [-160, -16],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/anthropic/.rss",
        "options": {}
      },
      "id": "5bce421b-188c-4acb-8578-4805396d9139",
      "name": "RSS r/anthropic",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [-160, 96],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://hnrss.org/newest?q=claude",
        "options": {}
      },
      "id": "50a23bf8-9c18-4fc5-956f-67456fe121da",
      "name": "RSS HN Claude",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [-160, 208],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://hnrss.org/newest?q=anthropic",
        "options": {}
      },
      "id": "f07fe1ec-68b5-4d34-876c-f742595a7a60",
      "name": "RSS HN Anthropic",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [-160, 320],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://devops.com/feed/",
        "options": {}
      },
      "id": "ecdef641-ff09-44cf-bb17-1651a67e8c58",
      "name": "RSS DevOps.com",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [-160, 432],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://theagileadmin.com/feed/",
        "options": {}
      },
      "id": "ca22cf80-480d-4073-96c3-f9bff26ee417",
      "name": "RSS Agile Admin",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [-160, 544],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://feed.infoq.com/Devops/articles/",
        "options": {}
      },
      "id": "b4643128-2684-4e91-91a0-7fc08713687d",
      "name": "RSS InfoQ DevOps",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [-160, 656],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.hashicorp.com/blog/feed.xml",
        "options": {}
      },
      "id": "7d9c1479-c295-4640-b2e7-5ab39ef449b3",
      "name": "RSS HashiCorp",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [-160, 768],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.cncf.io/blog/feed/",
        "options": {}
      },
      "id": "825ab90c-8e42-4b96-aaa0-61094c1806e3",
      "name": "RSS CNCF",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [-160, 880],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://kubernetes.io/feed.xml",
        "options": {}
      },
      "id": "ad9a8eac-b876-41a9-8309-c0e1498f9ccc",
      "name": "RSS Kubernetes",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [-160, 992],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://hnrss.org/newest?q=kubernetes+OR+devops+OR+terraform",
        "options": {}
      },
      "id": "fab826aa-5c37-447e-9cf2-12783294be82",
      "name": "RSS HN DevOps",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [-160, 1104],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/devops/.rss",
        "options": {}
      },
      "id": "a522432f-888f-4dcc-898b-f16f77377732",
      "name": "RSS r/devops",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [-160, 1216],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/kubernetes/.rss",
        "options": {}
      },
      "id": "56f7708b-4056-461e-a990-44d2d9b8cc72",
      "name": "RSS r/kubernetes",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [-160, 1328],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": { "numberInputs": 10 },
      "id": "cf2d2ca3-8011-4130-b782-88820ba2efb4",
      "name": "Merge Group 1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [128, 320]
    },
    {
      "parameters": { "numberInputs": 3 },
      "id": "df4c0be5-cb78-423b-9f94-15223bde3f8b",
      "name": "Merge Group 2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [128, 1168]
    },
    {
      "parameters": {},
      "id": "3d75bb7d-2729-40e7-b77f-22e1c5d547dd",
      "name": "Merge All Feeds",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [336, 544]
    },
    {
      "parameters": {
        "jsCode": "// Normalize all feeds to consistent schema with topic tagging\nconst items = $input.all();\nconst now = new Date();\nconst sevenDaysAgo = new Date(now.getTime() - 7 * 24 * 60 * 60 * 1000);\n\nfunction getTopicTags(link, title) {\n  const tags = [];\n  const lowerTitle = (title || '').toLowerCase();\n  const lowerLink = (link || '').toLowerCase();\n\n  // Claude/Anthropic topics\n  if (lowerLink.includes('claudeai') || lowerLink.includes('r/anthropic') ||\n      lowerTitle.includes('claude') || lowerTitle.includes('anthropic') ||\n      lowerLink.includes('q=claude') || lowerLink.includes('q=anthropic')) {\n    tags.push('claude');\n  }\n\n  // DevOps topics\n  if (lowerLink.includes('devops') || lowerLink.includes('kubernetes') ||\n      lowerLink.includes('terraform') || lowerLink.includes('hashicorp') ||\n      lowerLink.includes('cncf') || lowerLink.includes('argoproj') ||\n      lowerTitle.includes('devops') || lowerTitle.includes('kubernetes') ||\n      lowerTitle.includes('gitops') || lowerTitle.includes('terraform') ||\n      lowerTitle.includes('argocd') || lowerTitle.includes('helm')) {\n    tags.push('devops');\n  }\n\n  // General AI topics\n  if (lowerTitle.includes('openai') || lowerTitle.includes('gpt') ||\n      lowerTitle.includes('llm') || lowerTitle.includes('machine learning') ||\n      lowerTitle.includes('ai agent')) {\n    tags.push('ai-general');\n  }\n\n  return tags.length > 0 ? tags : ['uncategorized'];\n}\n\nfunction getSourceCategory(link) {\n  if (link.includes('reddit.com') || link.includes('news.ycombinator.com')) {\n    return 'community';\n  }\n  if (link.includes('anthropic.com') || link.includes('hashicorp.com') ||\n      link.includes('kubernetes.io') || link.includes('cncf.io') ||\n      link.includes('argoproj.io')) {\n    return 'official';\n  }\n  return 'blog';\n}\n\nfunction getSourceName(link) {\n  const mapping = {\n    'reddit.com/r/ClaudeAI': 'r/ClaudeAI',\n    'reddit.com/r/anthropic': 'r/anthropic',\n    'reddit.com/r/devops': 'r/devops',\n    'reddit.com/r/kubernetes': 'r/kubernetes',\n    'news.ycombinator.com': 'Hacker News',\n    'anthropic.com': 'Anthropic Blog',\n    'devops.com': 'DevOps.com',\n    'theagileadmin.com': 'Agile Admin',\n    'infoq.com': 'InfoQ',\n    'hashicorp.com': 'HashiCorp',\n    'kubernetes.io': 'Kubernetes',\n    'cncf.io': 'CNCF',\n    'argoproj.io': 'ArgoCD Blog'\n  };\n\n  for (const [pattern, name] of Object.entries(mapping)) {\n    if (link.includes(pattern)) return name;\n  }\n  return 'Unknown';\n}\n\n// Deduplicate by URL within this batch\nconst seen = new Set();\n\nconst normalized = items\n  .map(item => {\n    const json = item.json;\n    const link = json.link || json.guid || '';\n    const title = json.title || 'No title';\n    const pubDate = new Date(json.pubDate || json.isoDate || json.date || now);\n\n    return {\n      url: link,\n      title: title,\n      content: json.content || json.description || '',\n      content_snippet: (json.contentSnippet || json.content || json.description || '').substring(0, 500),\n      source_name: getSourceName(link),\n      source_url: json.feedUrl || '',\n      topic: getTopicTags(link, title),\n      category: getSourceCategory(link),\n      pub_date: pubDate.toISOString(),\n      metadata: JSON.stringify({\n        author: json.creator || json.author || null,\n        comments_count: json.comments || null,\n        original_guid: json.guid || null\n      })\n    };\n  })\n  // Filter out items without URLs\n  .filter(item => item.url)\n  // Filter to last 7 days\n  .filter(item => new Date(item.pub_date) >= sevenDaysAgo)\n  // Deduplicate within batch\n  .filter(item => {\n    if (seen.has(item.url)) return false;\n    seen.add(item.url);\n    return true;\n  });\n\nreturn normalized.map(item => ({ json: item }));"
      },
      "id": "520c056e-c720-4156-ad74-1fa4dbc7fca2",
      "name": "Normalize & Tag Topics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [544, 544]
    },
    {
      "parameters": { "options": {} },
      "id": "9a7aa1e9-5895-4281-a72b-584adf02c9ac",
      "name": "Process One at a Time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [752, 544]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ 'SELECT COUNT(*) as cnt FROM feed_articles WHERE url_hash = md5(\\'' + $json.url.replace(/\\'/g, \"''\") + '\\') LIMIT 1;' }}",
        "options": {}
      },
      "id": "f1ddd0b1-0203-437b-b2cd-9cb3773abaa4",
      "name": "Check If Exists",
      "notesInFlow": true,
      "notes": "Uses $json.url from splitInBatches output",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [960, 544],
      "credentials": {
        "postgres": {
          "id": "GCohHH3qGUDCi7xo",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-count-zero",
              "leftValue": "={{ $json.cnt }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ca83cef6-9696-4bca-ab8f-ce4ed58eef34",
      "name": "Is New Article?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1168, 544]
    },
    {
      "parameters": {
        "jsCode": "// Build INSERT SQL with properly escaped values\nconst data = $('Process One at a Time').item.json;\n\nfunction esc(val) {\n  if (val === null || val === undefined || val === '') return 'NULL';\n  return \"'\" + String(val).replace(/'/g, \"''\") + \"'\";\n}\n\nconst topicArray = \"'{\" + (data.topic || []).join(',') + \"}'\";\n\nconst sql = `INSERT INTO feed_articles (url, title, content, content_snippet, source_name, source_url, topic, category, pub_date, metadata)\nVALUES (${esc(data.url)}, ${esc(data.title)}, ${esc(data.content)}, ${esc(data.content_snippet)}, ${esc(data.source_name)}, ${esc(data.source_url)}, ${topicArray}::text[], ${esc(data.category)}, ${esc(data.pub_date)}::timestamptz, ${esc(data.metadata)}::jsonb)\nON CONFLICT (url) DO NOTHING\nRETURNING id;`;\n\nreturn [{ json: { insertQuery: sql } }];"
      },
      "id": "5098a279-fd05-49c3-a1b7-5bb3be8ab03a",
      "name": "Build Insert SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1272, 464]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.insertQuery }}",
        "options": {}
      },
      "id": "b731e268-b403-46de-909f-9f9fc4a03f16",
      "name": "Insert Article",
      "notesInFlow": true,
      "notes": "Executes pre-built INSERT from Build Insert SQL node",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1480, 464],
      "credentials": {
        "postgres": {
          "id": "GCohHH3qGUDCi7xo",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "1a248f2b-a8ee-43cf-971f-c9c13cdbfd53",
      "name": "Skip Existing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1376, 624]
    },
    {
      "parameters": {
        "jsCode": "// Count results from the batch processing\nconst items = $input.all();\nconst inserted = items.filter(i => i.json.id).length;\n\nreturn [{\n  json: {\n    status: 'complete',\n    processed_at: new Date().toISOString(),\n    articles_checked: items.length,\n    new_articles_inserted: inserted\n  }\n}];"
      },
      "id": "5db84d4e-e1b3-409f-a328-9fb9a007dc71",
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1792, 544]
    }
  ],
  "connections": {
    "Every 4 Hours": {
      "main": [[
        { "node": "RSS r/ClaudeAI", "type": "main", "index": 0 },
        { "node": "RSS r/anthropic", "type": "main", "index": 0 },
        { "node": "RSS HN Claude", "type": "main", "index": 0 },
        { "node": "RSS HN Anthropic", "type": "main", "index": 0 },
        { "node": "RSS DevOps.com", "type": "main", "index": 0 },
        { "node": "RSS Agile Admin", "type": "main", "index": 0 },
        { "node": "RSS InfoQ DevOps", "type": "main", "index": 0 },
        { "node": "RSS HashiCorp", "type": "main", "index": 0 },
        { "node": "RSS CNCF", "type": "main", "index": 0 },
        { "node": "RSS Kubernetes", "type": "main", "index": 0 },
        { "node": "RSS HN DevOps", "type": "main", "index": 0 },
        { "node": "RSS r/devops", "type": "main", "index": 0 },
        { "node": "RSS r/kubernetes", "type": "main", "index": 0 }
      ]]
    },
    "RSS r/ClaudeAI": { "main": [[{ "node": "Merge Group 1", "type": "main", "index": 0 }]] },
    "RSS r/anthropic": { "main": [[{ "node": "Merge Group 1", "type": "main", "index": 1 }]] },
    "RSS HN Claude": { "main": [[{ "node": "Merge Group 1", "type": "main", "index": 2 }]] },
    "RSS HN Anthropic": { "main": [[{ "node": "Merge Group 1", "type": "main", "index": 3 }]] },
    "RSS DevOps.com": { "main": [[{ "node": "Merge Group 1", "type": "main", "index": 4 }]] },
    "RSS Agile Admin": { "main": [[{ "node": "Merge Group 1", "type": "main", "index": 5 }]] },
    "RSS InfoQ DevOps": { "main": [[{ "node": "Merge Group 1", "type": "main", "index": 6 }]] },
    "RSS HashiCorp": { "main": [[{ "node": "Merge Group 1", "type": "main", "index": 7 }]] },
    "RSS CNCF": { "main": [[{ "node": "Merge Group 1", "type": "main", "index": 8 }]] },
    "RSS Kubernetes": { "main": [[{ "node": "Merge Group 1", "type": "main", "index": 9 }]] },
    "RSS HN DevOps": { "main": [[{ "node": "Merge Group 2", "type": "main", "index": 0 }]] },
    "RSS r/devops": { "main": [[{ "node": "Merge Group 2", "type": "main", "index": 1 }]] },
    "RSS r/kubernetes": { "main": [[{ "node": "Merge Group 2", "type": "main", "index": 2 }]] },
    "Merge Group 1": { "main": [[{ "node": "Merge All Feeds", "type": "main", "index": 0 }]] },
    "Merge Group 2": { "main": [[{ "node": "Merge All Feeds", "type": "main", "index": 1 }]] },
    "Merge All Feeds": { "main": [[{ "node": "Normalize & Tag Topics", "type": "main", "index": 0 }]] },
    "Normalize & Tag Topics": { "main": [[{ "node": "Process One at a Time", "type": "main", "index": 0 }]] },
    "Process One at a Time": { "main": [
      [{ "node": "Summary", "type": "main", "index": 0 }],
      [{ "node": "Check If Exists", "type": "main", "index": 0 }]
    ]},
    "Check If Exists": { "main": [[{ "node": "Is New Article?", "type": "main", "index": 0 }]] },
    "Is New Article?": { "main": [
      [{ "node": "Build Insert SQL", "type": "main", "index": 0 }],
      [{ "node": "Skip Existing", "type": "main", "index": 0 }]
    ]},
    "Build Insert SQL": { "main": [[{ "node": "Insert Article", "type": "main", "index": 0 }]] },
    "Insert Article": { "main": [[{ "node": "Process One at a Time", "type": "main", "index": 0 }]] },
    "Skip Existing": { "main": [[{ "node": "Process One at a Time", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "meta": {
    "notes": "Shared data ingestion workflow for feed aggregation. Runs every 4 hours to fetch RSS feeds, normalize data with topic tags, and store in PostgreSQL for deduplication. Supports both Claude/AI and DevOps topics. Uses two-stage merge to handle 13 feeds (max 10 per merge node)."
  }
}
