n8n-workflows/feed-data-ingestion.json
{
  "name": "Feed Data Ingestion",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */4 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 4 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 560]
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/ClaudeAI/.rss",
        "options": {}
      },
      "id": "rss-claudeai",
      "name": "RSS r/ClaudeAI",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [280, 0],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/anthropic/.rss",
        "options": {}
      },
      "id": "rss-anthropic",
      "name": "RSS r/anthropic",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [280, 112],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://hnrss.org/newest?q=claude",
        "options": {}
      },
      "id": "rss-hn-claude",
      "name": "RSS HN Claude",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [280, 224],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://hnrss.org/newest?q=anthropic",
        "options": {}
      },
      "id": "rss-hn-anthropic",
      "name": "RSS HN Anthropic",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [280, 336],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://devops.com/feed/",
        "options": {}
      },
      "id": "rss-devops-com",
      "name": "RSS DevOps.com",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [280, 448],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://theagileadmin.com/feed/",
        "options": {}
      },
      "id": "rss-agile-admin",
      "name": "RSS Agile Admin",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [280, 560],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://feed.infoq.com/Devops/articles/",
        "options": {}
      },
      "id": "rss-infoq",
      "name": "RSS InfoQ DevOps",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [280, 672],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.hashicorp.com/blog/feed.xml",
        "options": {}
      },
      "id": "rss-hashicorp",
      "name": "RSS HashiCorp",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [280, 784],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.cncf.io/blog/feed/",
        "options": {}
      },
      "id": "rss-cncf",
      "name": "RSS CNCF",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [280, 896],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://kubernetes.io/feed.xml",
        "options": {}
      },
      "id": "rss-kubernetes",
      "name": "RSS Kubernetes",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [280, 1008],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://hnrss.org/newest?q=kubernetes+OR+devops+OR+terraform",
        "options": {}
      },
      "id": "rss-hn-devops",
      "name": "RSS HN DevOps",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [280, 1120],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/devops/.rss",
        "options": {}
      },
      "id": "rss-reddit-devops",
      "name": "RSS r/devops",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [280, 1232],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/kubernetes/.rss",
        "options": {}
      },
      "id": "rss-reddit-k8s",
      "name": "RSS r/kubernetes",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [280, 1344],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 10
      },
      "id": "merge-group-1",
      "name": "Merge Group 1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [560, 336]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "merge-group-2",
      "name": "Merge Group 2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [560, 1176]
    },
    {
      "parameters": {
        "numberInputs": 2
      },
      "id": "merge-all",
      "name": "Merge All Feeds",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [768, 560]
    },
    {
      "parameters": {
        "jsCode": "// Normalize all feeds to consistent schema with topic tagging\nconst items = $input.all();\nconst now = new Date();\nconst sevenDaysAgo = new Date(now.getTime() - 7 * 24 * 60 * 60 * 1000);\n\nfunction getTopicTags(link, title) {\n  const tags = [];\n  const lowerTitle = (title || '').toLowerCase();\n  const lowerLink = (link || '').toLowerCase();\n\n  // Claude/Anthropic topics\n  if (lowerLink.includes('claudeai') || lowerLink.includes('r/anthropic') ||\n      lowerTitle.includes('claude') || lowerTitle.includes('anthropic') ||\n      lowerLink.includes('q=claude') || lowerLink.includes('q=anthropic')) {\n    tags.push('claude');\n  }\n\n  // DevOps topics\n  if (lowerLink.includes('devops') || lowerLink.includes('kubernetes') ||\n      lowerLink.includes('terraform') || lowerLink.includes('hashicorp') ||\n      lowerLink.includes('cncf') || lowerLink.includes('argoproj') ||\n      lowerTitle.includes('devops') || lowerTitle.includes('kubernetes') ||\n      lowerTitle.includes('gitops') || lowerTitle.includes('terraform') ||\n      lowerTitle.includes('argocd') || lowerTitle.includes('helm')) {\n    tags.push('devops');\n  }\n\n  // General AI topics\n  if (lowerTitle.includes('openai') || lowerTitle.includes('gpt') ||\n      lowerTitle.includes('llm') || lowerTitle.includes('machine learning') ||\n      lowerTitle.includes('ai agent')) {\n    tags.push('ai-general');\n  }\n\n  return tags.length > 0 ? tags : ['uncategorized'];\n}\n\nfunction getSourceCategory(link) {\n  if (link.includes('reddit.com') || link.includes('news.ycombinator.com')) {\n    return 'community';\n  }\n  if (link.includes('anthropic.com') || link.includes('hashicorp.com') ||\n      link.includes('kubernetes.io') || link.includes('cncf.io') ||\n      link.includes('argoproj.io')) {\n    return 'official';\n  }\n  return 'blog';\n}\n\nfunction getSourceName(link) {\n  const mapping = {\n    'reddit.com/r/ClaudeAI': 'r/ClaudeAI',\n    'reddit.com/r/anthropic': 'r/anthropic',\n    'reddit.com/r/devops': 'r/devops',\n    'reddit.com/r/kubernetes': 'r/kubernetes',\n    'news.ycombinator.com': 'Hacker News',\n    'anthropic.com': 'Anthropic Blog',\n    'devops.com': 'DevOps.com',\n    'theagileadmin.com': 'Agile Admin',\n    'infoq.com': 'InfoQ',\n    'hashicorp.com': 'HashiCorp',\n    'kubernetes.io': 'Kubernetes',\n    'cncf.io': 'CNCF',\n    'argoproj.io': 'ArgoCD Blog'\n  };\n\n  for (const [pattern, name] of Object.entries(mapping)) {\n    if (link.includes(pattern)) return name;\n  }\n  return 'Unknown';\n}\n\n// Deduplicate by URL within this batch\nconst seen = new Set();\n\nconst normalized = items\n  .map(item => {\n    const json = item.json;\n    const link = json.link || json.guid || '';\n    const title = json.title || 'No title';\n    const pubDate = new Date(json.pubDate || json.isoDate || json.date || now);\n\n    return {\n      url: link,\n      title: title,\n      content: json.content || json.description || '',\n      content_snippet: (json.contentSnippet || json.content || json.description || '').substring(0, 500),\n      source_name: getSourceName(link),\n      source_url: json.feedUrl || '',\n      topic: getTopicTags(link, title),\n      category: getSourceCategory(link),\n      pub_date: pubDate.toISOString(),\n      metadata: JSON.stringify({\n        author: json.creator || json.author || null,\n        comments_count: json.comments || null,\n        original_guid: json.guid || null\n      })\n    };\n  })\n  // Filter out items without URLs\n  .filter(item => item.url)\n  // Filter to last 7 days\n  .filter(item => new Date(item.pub_date) >= sevenDaysAgo)\n  // Deduplicate within batch\n  .filter(item => {\n    if (seen.has(item.url)) return false;\n    seen.add(item.url);\n    return true;\n  });\n\nreturn normalized.map(item => ({ json: item }));"
      },
      "id": "normalize-feeds",
      "name": "Normalize & Tag Topics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [976, 560]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batches",
      "name": "Process One at a Time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1184, 560]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM feed_articles WHERE url_hash = md5($1) LIMIT 1;",
        "options": {
          "queryParameters": "={{ [$json.url] }}"
        }
      },
      "id": "check-existing",
      "name": "Check If Exists",
      "notesInFlow": true,
      "notes": "Uses $json.url from splitInBatches output",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1392, 560],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres - n8n"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-empty",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-new",
      "name": "Is New Article?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1600, 560]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO feed_articles (url, title, content, content_snippet, source_name, source_url, topic, category, pub_date, metadata)\nVALUES ($1, $2, $3, $4, $5, $6, $7::text[], $8, $9::timestamptz, $10::jsonb)\nON CONFLICT (url) DO NOTHING\nRETURNING id;",
        "options": {
          "queryParameters": "={{ [$('Process One at a Time').item.json.url, $('Process One at a Time').item.json.title, $('Process One at a Time').item.json.content, $('Process One at a Time').item.json.content_snippet, $('Process One at a Time').item.json.source_name, $('Process One at a Time').item.json.source_url, '{' + $('Process One at a Time').item.json.topic.join(',') + '}', $('Process One at a Time').item.json.category, $('Process One at a Time').item.json.pub_date, $('Process One at a Time').item.json.metadata] }}"
        }
      },
      "id": "insert-article",
      "name": "Insert Article",
      "notesInFlow": true,
      "notes": "References original data from splitInBatches node",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1808, 480],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Postgres - n8n"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "no-op-skip",
      "name": "Skip Existing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1808, 640]
    },
    {
      "parameters": {
        "jsCode": "// Count results from the batch processing\nconst items = $input.all();\nconst inserted = items.filter(i => i.json.id).length;\n\nreturn [{\n  json: {\n    status: 'complete',\n    processed_at: new Date().toISOString(),\n    articles_checked: items.length,\n    new_articles_inserted: inserted\n  }\n}];"
      },
      "id": "summary",
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2224, 560]
    }
  ],
  "connections": {
    "Every 4 Hours": {
      "main": [[
        { "node": "RSS r/ClaudeAI", "type": "main", "index": 0 },
        { "node": "RSS r/anthropic", "type": "main", "index": 0 },
        { "node": "RSS HN Claude", "type": "main", "index": 0 },
        { "node": "RSS HN Anthropic", "type": "main", "index": 0 },
        { "node": "RSS DevOps.com", "type": "main", "index": 0 },
        { "node": "RSS Agile Admin", "type": "main", "index": 0 },
        { "node": "RSS InfoQ DevOps", "type": "main", "index": 0 },
        { "node": "RSS HashiCorp", "type": "main", "index": 0 },
        { "node": "RSS CNCF", "type": "main", "index": 0 },
        { "node": "RSS Kubernetes", "type": "main", "index": 0 },
        { "node": "RSS HN DevOps", "type": "main", "index": 0 },
        { "node": "RSS r/devops", "type": "main", "index": 0 },
        { "node": "RSS r/kubernetes", "type": "main", "index": 0 }
      ]]
    },
    "RSS r/ClaudeAI": { "main": [[{ "node": "Merge Group 1", "type": "main", "index": 0 }]] },
    "RSS r/anthropic": { "main": [[{ "node": "Merge Group 1", "type": "main", "index": 1 }]] },
    "RSS HN Claude": { "main": [[{ "node": "Merge Group 1", "type": "main", "index": 2 }]] },
    "RSS HN Anthropic": { "main": [[{ "node": "Merge Group 1", "type": "main", "index": 3 }]] },
    "RSS DevOps.com": { "main": [[{ "node": "Merge Group 1", "type": "main", "index": 4 }]] },
    "RSS Agile Admin": { "main": [[{ "node": "Merge Group 1", "type": "main", "index": 5 }]] },
    "RSS InfoQ DevOps": { "main": [[{ "node": "Merge Group 1", "type": "main", "index": 6 }]] },
    "RSS HashiCorp": { "main": [[{ "node": "Merge Group 1", "type": "main", "index": 7 }]] },
    "RSS CNCF": { "main": [[{ "node": "Merge Group 1", "type": "main", "index": 8 }]] },
    "RSS Kubernetes": { "main": [[{ "node": "Merge Group 1", "type": "main", "index": 9 }]] },
    "RSS HN DevOps": { "main": [[{ "node": "Merge Group 2", "type": "main", "index": 0 }]] },
    "RSS r/devops": { "main": [[{ "node": "Merge Group 2", "type": "main", "index": 1 }]] },
    "RSS r/kubernetes": { "main": [[{ "node": "Merge Group 2", "type": "main", "index": 2 }]] },
    "Merge Group 1": { "main": [[{ "node": "Merge All Feeds", "type": "main", "index": 0 }]] },
    "Merge Group 2": { "main": [[{ "node": "Merge All Feeds", "type": "main", "index": 1 }]] },
    "Merge All Feeds": { "main": [[{ "node": "Normalize & Tag Topics", "type": "main", "index": 0 }]] },
    "Normalize & Tag Topics": { "main": [[{ "node": "Process One at a Time", "type": "main", "index": 0 }]] },
    "Process One at a Time": { "main": [
      [{ "node": "Summary", "type": "main", "index": 0 }],
      [{ "node": "Check If Exists", "type": "main", "index": 0 }]
    ]},
    "Check If Exists": { "main": [[{ "node": "Is New Article?", "type": "main", "index": 0 }]] },
    "Is New Article?": { "main": [
      [{ "node": "Insert Article", "type": "main", "index": 0 }],
      [{ "node": "Skip Existing", "type": "main", "index": 0 }]
    ]},
    "Insert Article": { "main": [[{ "node": "Process One at a Time", "type": "main", "index": 0 }]] },
    "Skip Existing": { "main": [[{ "node": "Process One at a Time", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "meta": {
    "notes": "Shared data ingestion workflow for feed aggregation. Runs every 4 hours to fetch RSS feeds, normalize data with topic tags, and store in PostgreSQL for deduplication. Supports both Claude/AI and DevOps topics. Uses two-stage merge to handle 13 feeds (max 10 per merge node)."
  }
}
